[Unit]
Description=BersonCareBot API (Development)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/dev/dev-projects/BersonCareBot/apps/integrator
EnvironmentFile=/home/dev/dev-projects/BersonCareBot/.env
ExecStart=/usr/bin/node dist/main.js
Restart=always

[Install]
WantedBy=multi-user.target
