[Unit]
Description=BersonCare Webapp (Production)
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/projects/bersoncarebot/apps/webapp/.next/standalone/apps/webapp
EnvironmentFile=/opt/env/bersoncarebot/webapp.prod
Environment=PORT=6200
Environment=HOSTNAME=127.0.0.1
ExecStart=/usr/bin/node /opt/projects/bersoncarebot/apps/webapp/.next/standalone/apps/webapp/server.js
Restart=always

[Install]
WantedBy=multi-user.target
