[Unit]
Description=BersonCareBot API (Production)
Wants=network-online.target
After=network-online.target
ConditionHost=adelaide

[Service]
Type=simple
ExecCondition=/bin/sh -c 'case " $(/usr/bin/hostname -I) " in *" 135.106.162.170 "*) exit 0;; *) exit 1;; esac'
WorkingDirectory=/opt/projects/bersoncarebot/apps/integrator
EnvironmentFile=/opt/env/bersoncarebot/api.prod
ExecStart=/usr/bin/node dist/main.js
Restart=always

[Install]
WantedBy=multi-user.target
