[Unit]
Description=BersonCare Webapp (Production)
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/projects/bersoncarebot
EnvironmentFile=/opt/env/bersoncarebot/webapp.prod
ExecStart=/usr/bin/pnpm --dir /opt/projects/bersoncarebot/apps/webapp start
Restart=always

[Install]
WantedBy=multi-user.target
