[Unit]
Description=BersonCare Webapp (Production)
Wants=network-online.target
After=network-online.target
ConditionHost=adelaide

[Service]
User=deploy
Group=deploy
Type=simple
ExecCondition=/bin/sh -c 'case " $(/usr/bin/hostname -I) " in *" 135.106.162.170 "*) exit 0;; *) exit 1;; esac'
WorkingDirectory=/opt/projects/bersoncarebot/apps/webapp/.next/standalone/apps/webapp
EnvironmentFile=/opt/env/bersoncarebot/webapp.prod
EnvironmentFile=-/opt/projects/bersoncarebot/apps/webapp/.next/standalone/apps/webapp/.runtime-build-id
Environment=PORT=6200
Environment=HOSTNAME=127.0.0.1
ExecStart=/usr/bin/node /opt/projects/bersoncarebot/apps/webapp/.next/standalone/apps/webapp/server.js
Restart=always

[Install]
WantedBy=multi-user.target
