[Unit]
Description=BersonCare Webapp (Development)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/dev/dev-projects/BersonCareBot
EnvironmentFile=/home/dev/dev-projects/BersonCareBot/apps/webapp/.env.dev
ExecStart=/usr/bin/pnpm --dir /home/dev/dev-projects/BersonCareBot/apps/webapp start -- --hostname 127.0.0.1 --port 5200
Restart=always

[Install]
WantedBy=multi-user.target
